
.autonBody{
    background-image: url(autonBackground.png);
    background-size: cover;
}
.autonHeader{
    color: lightblue;
    font-size: 12vh;
    text-shadow: 0px 0px 50px black;
}
.autonInfoBox{
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    width: 5vw;
    height: 4vh;
    color: white;
}
.autonLongButton{
    width: 22vw;
}
#autonL4, #autonL2, #autonCoralMiss{
    background: #e69138;
}
#autonLeave{
    background: #999999;
}
#autonL3, #autonL1{
    background: #f6b26b;
}
#autonNetMiss, #autonProcesser{
    background: #3c78d8;
}
#autonNetScore, #autonRemove{
    background: #6fa8dc;
}
#autonBack, #autonNext{
    background: #674ea7;
    font-size: 8vh;
}
