body {
    margin: 0;
    background-color: #1d1e1e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 3s ease-in-out, backdrop-filter 1s ease-in-out;
}

.oneThird {
    width: 33.3vw;
}

.headerImg {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.headerIndex {
    height: 15vw;
    width: 100vw;
}

.inputRow {
    height: 15vh;
}

.inputBox {
    height: 4vh;
    width: 10vw;
}

.buttonRow {
    height: 17.5vh;
}

.allianceOfTheRedColour {
    background-color: rgb(195, 70, 70);
    border: 2pax solid white;
    color: white;
    transition: all 1s ease-in-out;
}

.allianceOfTheBlueColour {
    background-color: rgb(60, 133, 229);
    border: 2px solid white;
    color: white;
    transition: all 1s ease-in-out;
}